* {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

:root {
  --bg-primary: #28293e;
  --text-primary: #ffff;
  --text-dark: #2c2c2c;
  --text-dark-accent: #282828;
  --text-dark-gray: #7b6457;
}

.btn {
  padding: 18px 34px;
  border-radius: 6px;
  border: 1px solid #686877;
  background: var(--bg-primary);
  color: var(--text-primary);
  font-size: 14px;
  font-weight: 900;
  text-align: center;
  transition: 1s;
  cursor: pointer;
}

.btn:hover {
  transition: 1s;
  background: gray;
}

a {
  text-decoration: none;
  color: inherit;
}

/*---------- navba ----------*/

.nav {
  margin: auto;
  background: var(--bg-primary);
  color: var(--text-primary);
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.nav__list {
  display: flex;
  gap: 80px;
  list-style: none;
}

.nav__menu {
  padding: 16px;
  background: var(--bg-primary);
  border: 1px solid gray;
  border-radius: 5px;
  display: none;
}

.nav__menu span {
  width: 32px;
  height: 5px;
  background: var(--text-primary);
  margin-top: 5px;
  display: block;
  border-radius: 6px;
}

/*---------- hero ----------*/

.hero {
  background: var(--bg-primary);
  width: 100%;
  padding: 100px 0;
}

.hero__wrapper {
  display: flex;
  color: var(--text-primary);
}

.hero__text {
  width: 50%;
}

.hero__title {
  color: #ef6d58;
  line-height: 32px;
}

.hero__project {
  font-size: 72px;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: -2px;
}

.hero__info {
  padding-top: 20px;
  color: #ffffffa3;
}

.hero__btn {
  padding-top: 35px;
}

.hero__btn-one {
  background: #ef6d58;
  font-size: 14px;
  font-weight: 900;
  line-height: 14.35px;
}
.hero__contact {
  padding-left: 35px;
  background: var(--bg-primary);
  border: none;
  font-size: 14px;
  font-weight: 900;
  line-height: 14.35px;
}

.hero__male {
  padding-top: 125px;
  display: flex;
  gap: 20px;
}

.hero__male__info {
  color: #ffffffa3;
}

.hero__img {
  width: 50%;
}
/*---------- firm ----------*/

.firm {
  background: #fdf0e9;
  padding: 80px 0;
}

.firm__wrapper {
  display: flex;
  align-items: center;
  gap: 145px;
}
.firm__img {
  width: calc(20% - 29);
}

hr {
  border: 1px solid #f3d1bf;
}

/*---------- about ----------*/

.about {
  background: #fdf0e9;
}
.about__wrapper {
  display: flex;
  padding-top: 170px;
  padding-bottom: 160px;
  gap: 130px;
}

.about__img {
  width: 50%;
}

.about__text {
  width: 50%;
}

.about__name {
  color: #ef6d58;
  line-height: 32px;
  letter-spacing: 3px;
}

.about__title {
  color: #391400;
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: -1px;
  padding-bottom: 25px;
  display: block;
}

.about__service {
  padding-bottom: 18px;
  display: block;
  color: #391400;
  font-size: 20px;
}

.about__info {
  color: #391400a3;
  padding-bottom: 34px;
}

.about__btn {
  color: #391400;
  font-size: 14px;
  font-weight: 900;
  line-height: 14.35px;
  border: none;
  background: #ffffff;
}

/*---------- percentage ----------*/

.percentage {
  padding: 161px 0;
  background: #fdf0e9;
}

.percentage__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.percentage__numbr {
  color: #391400;
  font-size: 40px;

  font-weight: 800;
  line-height: 48px;
  text-align: left;
}

.percentage__info {
  color: #391400;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  display: block;
}

/*---------- work ----------*/

.work {
  background: #fdf0e9;
  padding: 150px 0;
}

.work__wrapper {
  display: flex;
  gap: 150px;
}

.work__sub-title {
  color: #ef6d58;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  padding-bottom: 17px;
}

.work__title {
  color: #391400;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  padding-bottom: 30px;
}

.work__info {
  color: #391400a3;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.work__read {
  color: #391400;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.work__text {
  width: calc(50% - 3);
}

.service {
  display: flex;
  flex-direction: column;
  width: calc(50% - 3);
}

.service__control {
  display: flex;
}

.service__number {
  color: #391400;
  font-size: 72px;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: -2px;
}

.services {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #391400;
  padding-left: 55px;
  padding-top: 30px;
  display: block;
}

.hr {
  max-width: 1170px;
}

/*---------- unlock ----------*/

.unlock {
  background: #fdf0e9;
  padding-bottom: 265px;
}

.unlock__wrapper {
  display: flex;
  gap: 130px;
}

.unlock__img {
  width: calc(50% - 2, 6);
}

.unlock__text {
  width: calc(50% - 2, 6);
}

.unlock__sub-title {
  padding: 60px 0 17px 0;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  color: #ef6d58;
}

.unlock__title {
  color: #391400;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  padding-bottom: 28px;
}

.unlock__info {
  color: #391400a3;
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

/*---------- give ----------*/

.give {
  background: #fdf0e9;
}

.give__wrapper {
  display: flex;
  gap: 100px;
}

.give__text {
  width: calc(50% - 2);
}

.give__sub-title {
  color: #ef6d58;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
}

.give__title {
  color: #391400;
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: -1px;
  padding-bottom: 26px;
}

.give__info {
  color: #391400;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 26px;
}

.give__icon {
  display: flex;
  padding-bottom: 16px;
}

.give__icon__info {
  padding-left: 16px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #391400a3;
}
.give__img {
  width: calc(50% - 2);
}

/*---------- hover ----------*/

.hover {
  background: #fdf0e9;
  padding-top: 265px;
  padding-bottom: 180px;
}

.hover__wrapper {
  gap: 20px;
  display: flex;
}

.hover-one {
  transition: 1s;
}

.hover__control {
  padding: 20px;
}

.hover-one:hover {
  transition: 1s;
  border-radius: 30px;
  background: #686877;
  color: var(--text-primary);
}

.hover__sub-title {
  color: #ef6d58;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  display: block;
  padding-bottom: 30px;
}

.hover__title {
  color: #391400;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 28px;
}

.hover__read {
  color: #391400;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.hover__img {
  border-radius: 50px 50px;
  padding-bottom: 40px;
}

.hover__sub-title-one {
  color: #391400;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  padding-bottom: 19px;
  display: block;
}

.hover__sub-title-three {
  color: #391400;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  padding-bottom: 19px;
  display: block;
  padding-top: 120px;
}

@media (max-width: 1080px) {
  .nav__list {
    display: none;
  }

  .nav__menu {
    display: flex;
    flex-direction: column;
  }

  .nav__btn {
    display: none;
  }
  .hero__wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .hero__male {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .hero__text {
    width: 100%;
  }

  .hero__img {
    order: -1;
    width: 100%;
  }
  .firm__wrapper {
    display: none;
  }
  .about__wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .about__img {
    width: 100%;
  }

  .about__text {
    width: 100%;
  }

  .percentage__wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
  }

  .percentage__expreience {
    width: 100%;
  }

  .work__wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .work__text {
    width: 100%;
  }

  .unlock__wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .unlock__text {
    width: 100%;
  }

  .give__wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .give__img {
    order: -1;
    width: 100%;
  }

  .hover__wrapper {
    display: flex;
    flex-direction: column;
  }
}
